.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.text-black { color: black; }
.text-gray { color: #bbbbbb !important; }
.text-white { color: white;}
.font-20 { font-size: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* vote a post */
.vote {
  display: inline-block;
  overflow: hidden;
  width: auto;
  height: 25px;
  cursor: pointer;
  /*background: url('http://i.stack.imgur.com/iqN2k.png');*/
  background-position: 0 -25px;
  /*color: #cac6c3;*/
}
.vote::before{content:"\25B2";}​
.reply { margin-bottom: 20px;}
/*.red { background-position: 0 2px; }*/
.btn-info.reply { margin-bottom: 10px; }
.bold { font-weight: bold;}
.container.tech { max-width: 960px;}
.container.tech .product {
  width:100%;
  height:130px;
  margin-bottom: 20px;
  display : flex;
  align-items : center;
}
.container.tech .product:hover { background-color: #F7F7FA; }
.container.tech .product .product-image {
  width: 130px; height: 90px; float: left;
}
.container.tech .product .product-image img {
	width: 130px;
	height: 90px;
	border-radius: 3px;
	flex:1;
}
.container .product .product-details {
  display : flex;
  align-items : center;
  height:130px;
  margin-left:10px;
}
.container .product .product-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #bbbbbb;
}
.container .product .web {
	webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 2px 4px 1px;
    color: #bbbbbb;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid rgba(187,187,187,0.5);
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.container .upvote-count { padding: 0px 10px; }

.text-center { text-align: center;}

/*Commnets*/
.container .gallery-holder { width: 100%; }
.container .comment-holder {  margin: 0 auto; display: flex; }
.container .comment-holder .comments { margin-bottom: 40px; }
.container .comment-holder .followrow { margin-right: 15px; }
.container .comment-holder .main-comment { display: flex; }
.container  .flex-center { display: flex; align-items:center;}
.container .comment-holder .comment-image { width: 30px; height: 30px; }
.container .share-holder { padding: 10px; border-left: 1px solid #f0efef; background-color: rgba(229, 228, 228, 0.26); }
.container .comment-holder .social-media-holder {
	display: flex;
	min-width: 300px;
}
.container .comment-holder .social-media-holder div {
	margin: 5px;
}
.container .post-action { border-radius: 0 0 2px 2px; border: 2px solid #cbd2d6; overflow: auto;}
.container .btn.post { background: rgba(29,47,58,.6); color: white; float: right; border-radius: 0px; }
.section-heading {
  color: #bbb;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.media-share {
  border-radius: 3px;
  text-align: center;
  height: 40px;
  box-sizing: border-box;
  width: 70px;
}
.media-share.twit { background-color: #00a3e1; }
textarea.form-control.message { 
  min-height: 100px;
  margin: 0px; 
  border-radius: 0 0 2px 2px;
  border: 2px solid #cbd2d6;
  border-bottom: 0px;
}
textarea.form-control.reply { 
  margin: 0px; 
  border-radius: 0 0 2px 2px;
  border: 2px solid #cbd2d6;
  border-bottom: 0px;
}

/*NAV bar*/
.header .main-navbar {
  margin: 0px 15px;
  height: 50px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.05),0 2px 4px 0 rgba(0,0,0,0.06);
  background-color: white;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form { text-align: center; }
.header .main-navbar li a { color: black; font-size: 12px!important; }
.header .main-navbar ul { margin:  0 auto; }

.submit-holder { text-align: center; width: 700px; }
.submit-holder input { display: inline-block; }
.submit-holder .submit { margin-top: 15px;}

.btn-success.btn-logout {
  margin-top: 10px;
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.container .create-product { display: flex; align-items:center; }
.container .create-product .control-label { margin-right: 20px; min-width: 150px; }
.container .product-create-form { width: 600px; margin: 0 auto; }
.container .product-input { width: 300px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.red {
    color: red;
}

body {
  margin: 0;
}

#partners {
  height: 50px;
  background-color: #eee;
  white-space: nowrap;
  width: 50%;
  display: table;
  margin-bottom: 15px;
}

.logo-image {
  vertical-align: middle;
  padding: 13px;
  display: table-cell;
}

.logo-image img {
  max-width: 100%;
}

#social{
    background:green;
    float:right;
}

#right{
  float:right;width:100px;
}
