<div class="container tech" ng-controller="MainCtrl">
        <div ng-repeat="item in result" ng-click="go('/postdetails/',item.id)" class="product">
         <div class="upvote-count">
          <div class ="text-center">
           <span class="vote" ng-click="upVote(item.id); $event.stopPropagation()"; ng-class="{red : toggle}"> </span>
           <div>{{item.vote}}</div>
         </div>
         </div>
         <div class="product-image">
           <img src={{item.image_url[0].default.url}}></a>
         </div>
         <div  class="product-details">
           <div>
             <p class="product-title">{{item.title}}</p>
             <p class="product-url">{{item.url}}</p>
          </div>
        </div>
       </div>
</div>
