<html>
<head>
    <link rel="stylesheet" type="text/css" href="bower_components/ngGallery/src/css/ngGallery.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ngGallery/src/css/screen.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<div class="comment-holder">
  <div class="content">
    <ng-gallery images="images" thumbs-num="2"></ng-gallery>
  </div>
  <div ng-repeat="item in comments.comments" class="comments">
    <div class="main-comment">
      <div class="followrow">
        <a ng-click="go('/profile/',item.comment.userid)"> <img src={{item.comment.profile_image}} class="img-circle comment-image"/>
        </a>
      </div>
      <div>
        <div class="bold">{{item.name}}</div>
        <div id={{item.comment.id}}>{{item.comment}}</div>
        <span class="vote" ng-click="upVoteComment(item.id,item.flag); $event.stopPropagation()"; ng-class="{red : item.flag}">{{item.votecount}}</span>
      </div>
    </div>
    <div style="margin-left:20px;">
      <div ng-repeat="reply in item.reply" style="margin-bottom:20px;">
        <div class="flex-center">
          <div style="margin-right:15px;"><img src={{reply.profile_url}} class="img-circle comment-image" ng-click="go('/profile/',reply.ruserid)"></div>
          <div>
            <div class="bold">{{reply.reply_name}}</div>
            <div id={{reply.reply_id}}>{{reply.reply}} </div>
          </div>
        </div>
      </div>
      <textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="1" ng-model="textArea.textBox" placeholder="Reply to comment"></textarea>
      <button class="btn btn-info reply" ng-click="addReply(textArea.textBox,item.comment.id)">Reply</button>
    </div>
  </div>
</div>
<form class="comment-holder">
  <textarea ng-model="message" class="form-control message"></textarea>
  <br>
  <button class="btn btn-info reply" placeholder="Your Message" ng-click="sendComment(message)">Send Message</button>
</form>
</body>
</html>
